<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Django Seminar - Tutorial Project</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">SPARCS 2015 Django Seminar</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="/helloworld/" class="dropdown-toggle" data-toggle="dropdown" role="button" area-expand="false">Hello</span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/helloworld/helloworld/">World!</a></li>
                                <li><a href="/helloworld/introduce/">Me!</a></li>
                                <li><a href="/helloworld/me/">More Me!</a></li>
                            </ul>
                        </li>
                        <li><a href="/intro/">Introduction</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        <div class="container">
            This is the default page. Do Something :)
        </div>
        {% endblock %}
    </body>
</html>
