{% extends "base.html" %}
{% block content %}
<div class="container">
    <ul>
        <li>My name is {{ name }}.</li>
        <li>My nickname is {{ nickname }}.</li>
        {% for h in hobby %}
        {% if h == 'coding' %}
        <li>My hobby is {{ forloop.counter}}. {{ h }}.</li>
        {% else %}
        <li>My hobby is {{ forloop.counter}}. SECRET. </li>
        {% endif %}
        {% endfor %}
        <li>My age is {{ age }}.</li>
        <li>My relationship status is {{ relationship }}. </li>
    </ul>
</div>
{% endblock %}
